/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-sep-2017, 0:05:49
    Author     : davidjguru
*/

@font-face {
font-family: "Orange Juice";
src: url('../font/orange-juice.ttf');
}

h1, strong {
font-family: "Orange Juice";
}

#main-header{
    
        background: #F27435;
	color: white;
	height: 80px;
    
    
}

#welcomebox {
    position: absolute;
    left: 525px;
    top: 9px;
}

#buttons {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn {
  background: #F27435;
  background-image: -webkit-linear-gradient(top, #F27435, #1f1700);
  background-image: -moz-linear-gradient(top, #F27435, #1f1700);
  background-image: -ms-linear-gradient(top, #F27435, #1f1700);
  background-image: -o-linear-gradient(top, #F27435, #1f1700);
  background-image: linear-gradient(to bottom, #F27435, #1f1700);
  -webkit-border-radius: 23;
  -moz-border-radius: 23;
  border-radius: 23px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25px;
  padding: 8px 20px 10px 20px;
  border: solid #fffff1 1px;
  text-decoration: none;
}

.btn:hover {
  background: #feab3a;
  text-decoration: none;
}




#main-footer{
    
        background: #3B2D38;
	color: white;
	height: 100px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center
    
    
}
#frmLogin { 
	padding: 20px 60px;
	background: #CFBE27;
	color: #555;
	display: inline-block;
	border-radius: 4px; 
}

#frmBusinessUnit{
    
        padding: 20px 60px;
	background: #B6E0FF;
	color: #555;
	display: inline-block;
	border-radius: 4px; 
    
    
}

#frmClient{
    
        padding: 20px 60px;
	background: #B6E0FF;
	color: #555;
	display: inline-block;
	border-radius: 4px; 
    
    
}

#frmUser{
    
        padding: 20px 60px;
	background: #B6E0FF;
	color: #555;
	display: inline-block;
	border-radius: 4px; 
    
    
}

.field-group { 
	margin:15px 0px; 
}
.input-field {
	padding: 8px;width: 200px;
	border: #A3C3E7 1px solid;
	border-radius: 4px; 
}

.form-text{
    
       text-transform: uppercase;
    
    
    
}
.form-submit-button {
	background: #3B2D38;
	border: 0;
	padding: 8px 20px;
	border-radius: 4px;
	color: #FFF;
	text-transform: uppercase; 
}
.member-dashboard {
	padding: 40px;
	background: #D2EDD5;
	color: #555;
	border-radius: 4px;
	display: inline-block;
	text-align:center; 
}
.logout-button {
	color: #09F;
	text-decoration: none;
	background: none;
	border: none;
	padding: 0px;
	cursor: pointer;
}
.error-message {
	text-align:center;
	color:#FF0000;
}
.demo-content label{
	width:auto;
}

body {
	  background-color: #BCBDAC;
	}
        
        #head{
            background-color: #689F63;
            font-size: 50px;
            font-family: 'Permanent Marker';
            text-align: center;
            color: white;
            
        }
        #head-image{
          text-align: center;
            
            
        }
        
        #presentation{
            background-color: #689F63;
            height: 100%
            
        }
        
        #footer{
            background-color: #FFFFFF;
            font-size: 30px;
            font-family: 'fantasy';
            text-align: center;
            align-items: center;
            color: #689F63;
            height: 100px;
            
            
            
        }